.App {
}

body .bracket {
	max-width: 1000px;
	margin: auto;
	padding: 0 3em;
}

h2 {
	text-align: center;
}

h4 {

}

textarea {
	width: 100%;
	border: 1px solid gray;
	background-color: inherit;
	outline: none;
	color: inherit;
	font: inherit;
}

.personalInfo-right {
	width: 60%;
}

.checkboxDiv input{
	display: none;
}

.checkboxDiv label {
	padding: 0.5em;
}

.flex {
	display: flex;
	text-align: left;
}

.flex-column {
	flex-direction: column;
	justify-content: flex-start;
}
.flex-row {
	flex-direction: row;
	justify-content: space-between;
}

.flex-row > :not(:first-of-type) {
	margin-left: 1em;
}

.flex-child {
	width: 100%;
}

.footer-submit {
	padding: 1em 0em;
	width: 12em;
	text-align: center;
	margin-top: 4em;
	margin-bottom: 2em;
	background-color: #00AFF2;
  	color: inherit;
  	border: 1px solid #00AFF2;
}

.footer-submit:hover {
	background-color: #0092cc;
	border: 1px solid #0092cc;
}

.footer-submit:active {
	border: 1px inset #0092cc;
}

.skills-dicipline input[type="radio"] {
	display: none;
}
.skills-dicipline label {
	border: 1px	solid white;
	padding: 1em 0em;
	width: 100%;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}
.skills-dicipline input[type="radio"]:hover+label {
  	background-color: #627282;
}

.skills-dicipline input[type="radio"]:checked+label {
  	background-color: #00AFF2;
  	border-color: #00AFF2
}

.skills-checkbox input {
	opacity: 0;
}

.skills-checkbox input[type="checkbox"]:checked + label .tick {
	opacity: 1;
}

.skills-checkbox-button {
	justify-content: flex-start;
	align-items: center;
}

.skills-checkbox-button span {
	height: 1em;
	width: 1em;
	border: medium solid white;
	margin-right: 1em;
}


/*Makes the tick*/
.skills-checkbox-button .tick {
	content: "";
	height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 3px solid;
    margin: auto;
    margin-top: .1em;
    transform: rotate(-45deg);
    opacity: 0;
}

.style-header {
	border-bottom: medium solid #00AFF2;
	padding-bottom: 0.7em;
	margin-top: 1em auto;
}

.style-input {
	border-bottom: 1px solid gray;
}

.style-rowPadding {
	margin-top: 2em;
}

input[type="text"], input[type="number"] input[type="phone"] {
	color: inherit;
	width: 100%;
	outline: none;
	background-color: inherit;
	border: none;
	border-bottom: thin solid gray;
	font-size: inherit;
	margin-top: 1em;
    margin-bottom: 1em;
}

input:invalid {
	color: tomato;
}